body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    background-color: #b9ffbc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #245558;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

h1 {
    margin: 0;
    font-size: 28px;
}

section {
    margin-top: 20px;
}

h2 {
    color: #000000;
    background-color: #fcff68;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

p {
    text-align: justify;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



